# Comprehensions

## List Comprehensions

In [5]:
r = range(1, 11)

result = []

for item in r:
    result.append(item * item)

print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Example 1

In [6]:
result = [item * item for item in range(1, 11)]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
print([item * item for item in range(1, 11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Example 2

In [8]:
# Write a program to print all numbers between 1, 21 which are divisible by 2 using LC

In [9]:
# Traditional
result = []
for item in range(1, 21):
    if item % 2 == 0:
        result.append(item)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
# Using LC
result = [item for item in range(1, 21) if item % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Example 3

In [12]:
# Write a program to get list of all characters from subject which are consonants
subject = "MATHEMATICS"
# Output: ["M", "T", "H", "M", "T", "C", "S"]

In [13]:
# Traditional Approach
result = []
for item in subject:
    if item not in "AEIOU":
        result.append(item)
print(result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [14]:
# Using LC way
result = [item for item in subject if item not in "AEIOU"]
print(result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

### Example 4

In [15]:
websites = ["amazon", "flipkart", "snapdeal", "paytm"]

In [16]:
#[www.amazon.com, www.amazon.org, www.amazon.in, www.flipkart.com,...]

In [17]:
result = ["www." + item + ".com" for item in websites]
print(result)

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.paytm.com']

In [18]:
result = ["www.{}.com".format(item) for item in websites]
print(result)

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.paytm.com']

### Example 5

In [19]:
s = "Welcome to the world of Python Programming"
# [("Welcome", 7), ("to", 2), ("the", 3), ...]

In [23]:
# Normal Approach
result = []
for item in s.split():
    result.append((item, len(item)))
print(result)

[('Welcome', 7), ('to', 2), ('the', 3), ('world', 5), ('of', 2), ('Python', 6), ('Programming', 11)]

In [24]:
# Using LC
result = [(item, len(item)) for item in s.split()]
print(result)

[('Welcome', 7), ('to', 2), ('the', 3), ('world', 5), ('of', 2), ('Python', 6), ('Programming', 11)]

In [22]:
# split
s.split()

['Welcome', 'to', 'the', 'world', 'of', 'Python', 'Programming']

### Example 6

In [25]:
#  Write a program which will find all such numbers which are divisible by 7
# but are not a multiple of 5, between 200 and 320 (both included).
# The numbers obtained should be printed in a comma-separated
# sequence on a single line.
#
# Hints:
# Consider use range(#begin, #end) method

In [31]:
# Approach 1 : Normal 
result = []
for item in range(200, 321):
    if item % 7 == 0 and item % 5 != 0:
        result.append(str(item))
# print(result)
# join function of string class
print(", ".join(result))

203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308

In [27]:
# Approach 2: Using LC

In [34]:
result = [str(item) for item in range(200, 321) if item % 7 == 0 and item % 5 != 0]
print(result)
print(", ".join(result))

['203', '217', '224', '231', '238', '252', '259', '266', '273', '287', '294', '301', '308']
203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308

## Dictionary Comphrension

### Example 1

In [35]:
# Given any number n as 5, create a dict like mentioned below:
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [36]:
result = {}
for item in range(1, 6):
    result[item] = item * item
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
# Using DC
result = {item: item * item for item in range(1, 6)}
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Example 2:

In [38]:
s = "the quick brown fox jumps over the lazy dog"

In [39]:
# {"t": 2, "h": 2, ...}

In [40]:
s.count("t")

2

In [41]:
result = {item: s.count(item) for item in s}
print(result)

{'t': 2, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

In [42]:
len(result)

27

In [43]:
set(result)

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}