In [1]:
from scipy import stats
import pandas as pd
import numpy as np

### take data set

In [3]:
beml_df=pd.read_csv("D:\\DATA SCIENCE\\Data sets\\day7\\BEML.csv")

In [4]:
glaxo_df=pd.read_csv("D:\\DATA SCIENCE\\Data sets\\day7\\GLAXO.csv")

In [5]:
beml_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42

In [7]:
glaxo_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

### take two column Date and Time

In [8]:
beml_cl=beml_df[['Date','Close']]

In [9]:
glaxo_cl=glaxo_df[['Date','Close']]

### sort data in ascending order

In [10]:
beml_df=beml_cl.set_index(pd.DatetimeIndex(beml_cl['Date']))

In [12]:
glaxo_df=glaxo_cl.set_index(pd.DatetimeIndex(glaxo_cl['Date']))

### create gain column

In [14]:
beml_df[['gain']]=beml_df.Close.pct_change(periods=1)

In [15]:
beml_df[['gain']]

                gain
Date
2010-01-04       NaN
2010-01-05 -0.000881
2010-01-06  0.004407
2010-01-07  0.003993
2010-01-08 -0.000087
...              ...
2016-12-26 -0.021924
2016-12-27  0.026782
2016-12-28 -0.001332
2016-12-29  0.011956
2016-12-30  0.014756

[1739 rows x 1 columns]

In [16]:
glaxo_df[['gain']]=glaxo_df.Close.pct_change(periods=1)

In [17]:
glaxo_df[['gain']]

                gain
Date
2010-01-04       NaN
2010-01-05 -0.005444
2010-01-06  0.013422
2010-01-07  0.006225
2010-01-08 -0.005398
...              ...
2016-12-26 -0.001283
2016-12-27 -0.007986
2016-12-28  0.000148
2016-12-29  0.009529
2016-12-30  0.000697

[1739 rows x 1 columns]

### finding cofidence interval for perticular column

In [19]:
beml_df_ci=stats.norm.interval(0.95,loc=beml_df.gain.mean(),scale=beml_df.gain.std())
print("Gain at 95% confidence interval is:",np.round(beml_df_ci,4))

Gain at 95% confidence interval is: [-0.0515  0.0521]

In [20]:
glaxo_df_ci=stats.norm.interval(0.95,loc=glaxo_df.gain.mean(),scale=glaxo_df.gain.std())
print("Gian at 95% confidence interval is:",np.round(glaxo_df_ci,4))

Gian at 95% confidence interval is: [-0.0258  0.0266]

#### find 90% CI of both data set for gain column

In [21]:
beml_ci=stats.norm.interval(0.90,loc=beml_df.gain.mean(),scale=beml_df.gain.std())
print("Gain at 90% CI is :",np.round(beml_ci,4))

Gain at 90% CI is : [-0.0432  0.0437]

In [24]:
glaxo_ci=stats.norm.interval(0.90,loc=glaxo_df.gain.mean(),scale=glaxo_df.gain.std())
print("Gain at 90% CI is :",np.round(glaxo_ci,4))

Gain at 90% CI is : [-0.0216  0.0224]